.page-container {
  padding: 32px;
  background: #f5f6f8;
  min-height: 100vh;
  
  .bg-white {
    background: #ffffff;
  }
}

mat-card {
    padding: 8px 24px;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;

  h2 {
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.5px;
    margin: 0;
  }
}

button.discard-btn {
    &.mat-mdc-button {
        color: #d14343;
    }
    &:hover {
        background: white;
    }
    text-transform: none;
    font-weight: 500;
}

mat-card-content {
  padding: 16px 16px 32px;
  border-radius: 8px;
}

app-funel-step {
  display: flex;
  border-bottom: 1px solid #e5e7eb;
  padding-bottom: 28px;
  width: 100%;
}

.add-step-container {
  padding-top: 20px;
  text-align: center;

  .add-step-btn {
    color: #1991d2;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 13px;
  }
}

mat-card-actions button.apply-btn {
  background-color: #ffcc00;
  color: #000;
  font-weight: 600;
  text-transform: none;
  box-shadow: none;
  padding: 6px 20px;
  border-radius: 4px;
}

mat-card-actions.card-actions {
  padding: 16px 0;
  align-items: flex-start;
}
