.attribute-row {
    display: inline-flex;
    align-items: center;

     &:not(:hover) {
        .remove-button {
            opacity: 0;
            visibility: hidden;
        }
    }
}

.relative {
    position: relative;
}

.and-label {
    position: absolute;
    left: -45px;
}

.mr-12 {
    margin-right: 12px;
}

.prefix-label {
    background-color: #f5f5f5;
    color: #424242;
    padding: 0 12px;
    height: 100%;
    display: flex;
    align-items: center;
    border-right: 1px solid #e0e0e0;
    margin-right: 10px;
    white-space: nowrap;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    margin-top: 0;
    margin-bottom: 0;
}

.range-inputs-container {
    display: flex;
    align-items: center;
    gap: 8px;
    flex: 2;
    .value-field {
        flex: 1;
    }
}

.range-separator {
    color: #9e9e9e;
    font-weight: bold;
}